.rdrCalendarWrapper {
  width: 500px !important;
  min-width: 400px !important;
  max-width: 600px !important;
}
.rdrMonth {
  width: 100% !important;
}
.rdrDays {
  min-height: 350px !important;
  font-size: 18px !important;
}
.rdrDay {
  height: 60px !important;
  font-size: 18px !important;
}
.rdrDayNumber span {
  font-size: 18px !important;
} 